<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon"> 
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="/feed.xml">
    <title>ChemBio Hub ChemReg</title>

    <!-- Bootstrap core CSS -->


    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel='stylesheet' href="bower_components/chembiohub-theme/css/main.css" />
    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
    <link rel='stylesheet' href="bower_components/angular-grid/ng-grid.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.) styles/main.css -->
        <link rel='stylesheet' href="bower_components/chembiohub-theme/css/main.css" />

    <link rel="stylesheet" href="bower_components/chembiohub-theme/css/cbh-template-header.css">
    <link rel="stylesheet" href="bower_components/chembiohub-theme/css/font.css">
    <link rel="stylesheet" href="styles/chemreg-specific.css">


    <link rel="stylesheet" href="bower_components/chemdoodle/install/ChemDoodleWeb.css">
    <link rel="stylesheet" href="bower_componentschemdoodle/install/uis/jquery-ui-1.10.3.custom.css">
    <!-- endbuild -->    <!-- Chemdoodle sketcher css -->




    <!-- Fonts from Google Fonts -->
  <link href='https://fonts.googleapis.com/css?family=Lato:300,400,900' rel='stylesheet' type='text/css'>



    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body style="margin: 0;" ng-app="ngChemApp">
 <!--  <div ng-include="'/static/app/views/templates/header.html'"></div> -->
 <nav class="navbar navbar-default" role="navigation" style="border-bottom:10px solid #72777f; border-top:5px solid #002147;">

  <div class="container">
    <div class="row">
      <div class="col-xs-4">
        <!-- Projects button -->
        <div class="row pull-left">
          <div class="dropdown" ng-show="isLoggedIn()">
            
          </div>
          
        </div>
        
      </div>
      <div class="col-xs-4" id="slogan">
        <h2 class="text-center" style="padding-top:5px;"><a href="https://chembiohub.ox.ac.uk" target="_blank"><img src="bower_components/chembiohub-theme/img/CBH_2_2_LowRes.png" style="height:45px"></a>  ChemReg <small><sup>beta</sup></small></h2>
      </div>
      <div class="col-xs-3">
        <!-- Login and top level nav -->
          <!-- <div class="row pull-right">
            <div style="padding-top:5px;">
              <small>
                <a href="/projects" style="color:white;vertical-align: text-top;">Projects</a> | <a href="#" style="color:white;vertical-align: text-top;">Search</a> | <a href="/#" style="color:white;vertical-align: text-top;">Help</a>&nbsp;
              </small>
            </div>
          </div> -->
        
      </div>


    </div>
  </div>

</nav>


    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Add your site or application content here -->
    




<div class="container-fluid">
      
  
  <div class="row">

    <div class="col-xs-12">
      
        <div class="row mt">
          <h2 class="blue centered">Welcome to ChemBio Hub ChemReg<br>
          <small>Currently in beta testing</small></h2>
          <p>We need your help to test this application so please <a href="mailto:info@chembiohub.ox.ac.uk?subject=ChemReg Issue">let us know</a> about any bugs you find (or suggestions for future features).</p>
          <p>Please use this service to register small molecules you are synthesising or using.</p>
          <p>{% if password_login %}Simply enter your account details in the box.{% endif %} 
            {% if webauth_login %}Simply click the button below to log in via webauth.{% endif %}
           You will find these in an email from <a href="mailto:info@chembiohub.ox.ac.uk">info@chembiohub.ox.ac.uk</a>.  If you haven’t heard from us – drop us a line and we will create an account for you.</p>

        </div>
        
    </div>

    <div class="col-xs-12">
            
{% if password_login %}
      <form class="form-horizontal mt" method="post">
            <label>{% if logout %}Logged out, log in again below{% else %}Please Login {% endif %}</label>
{% csrf_token %}
          <fieldset><div id="div_id_username" class="form-group"><label for="id_username" class="control-label  requiredField">
                      Username<span class="asteriskField">*</span></label><div class="controls "><input class="textinput textInput form-control" id="id_username" maxlength="254" name="username" type="text"> </div></div>
                      <div id="div_id_password" class="form-group"><label for="id_password" class="control-label  requiredField">
                      Password<span class="asteriskField">*</span></label><div class="controls "><input class="textinput textInput form-control" id="id_password" name="password" type="password"> </div></div>
                  </fieldset>
                      <div class="form-actions"><input type="submit" name="save" value="Sign in" class="btn btn-primary" id="submit-id-save"> </div>
      </form>
{% endif %}

{% if webauth_login %}
<p><a role="button" href="webauth" value="Sign in with webauth" class="btn btn-primary" > Sign in with webauth</a></p> <p><a href="https://webauth.ox.ac.uk/logout" role="button" class="btn btn-danger">Log out of Webauth entirely</a></p>
{% endif %}
  </div>
</div>
  <div class="row">
    <div class="row centered">
        <div class="col-xs-12">
          <h2><small>ChemReg is built using:</small></h2>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="https://www.djangoproject.com/" onclick="return !window.open(this.href);"><img src="bower_components/chembiohub-theme/img/django.png" alt="Django Framework" title="Django Framework"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="https://www.ebi.ac.uk/chembl/ws" onclick="return !window.open(this.href);"><img src="bower_components/chembiohub-theme/img/chembl.png" alt="ChEMBL" title="ChEMBL"></a>
        </div>
        <div class="col-xs-6 col-sm-3">
          <a href="https://angularjs.org/" onclick="return !window.open(this.href);"><img src="bower_components/chembiohub-theme/img/angular.png" alt="AngularJS framework" title="AngularJS framework"></a>
        </div><div class="col-xs-6 col-sm-3">
          <a href="https://github.com/" onclick="return !window.open(this.href);"><img src="bower_components/chembiohub-theme/img/github.png" alt="GitHub" title="GitHub"></a>
        </div>
        
      </div>
  </div>
</div>


    <!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
     <script>
       (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
       })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

       ga('create', 'UA-XXXXX-X');
       ga('send', 'pageview');
    </script>

   

    <!-- build:js(.) scripts/vendor.js -->
   
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  

    <!-- endbower -->
    <!-- endbuild -->



        <!-- build:js({.tmp,app}) scripts/scripts.js -->

 
        <!-- endbuild -->
</body>
</html>
